{% extends 'base.html'%}

{% block head %}
<title>Countries</title>
{% endblock %}

{% block body %}
<h1>Country List Page</h1>
<br>
<h3>Three-Letter Countries Abbreviation:</h3>
<hr>
PRT &nbsp &nbsp
GBR &nbsp &nbsp
USA &nbsp &nbsp
ESP &nbsp &nbsp
IRL &nbsp &nbsp
FRA &nbsp &nbsp
ROU &nbsp &nbsp
NOR &nbsp &nbsp
OMN &nbsp &nbsp
ARG &nbsp &nbsp
POL &nbsp &nbsp
DEU &nbsp &nbsp
BEL &nbsp &nbsp
CHE &nbsp &nbsp
CN &nbsp &nbsp
GRC &nbsp &nbsp
ITA &nbsp &nbsp
NLD &nbsp &nbsp
DNK &nbsp &nbsp
RUS &nbsp &nbsp
SWE &nbsp &nbsp
AUS &nbsp &nbsp
EST &nbsp &nbsp
CZE &nbsp &nbsp
BRA &nbsp &nbsp
FIN &nbsp &nbsp
MOZ &nbsp &nbsp
BWA &nbsp &nbsp
LUX &nbsp &nbsp
SVN &nbsp &nbsp
ALB &nbsp &nbsp
IND &nbsp &nbsp
CHN &nbsp &nbsp
MEX &nbsp &nbsp
MAR &nbsp &nbsp 
UKR &nbsp &nbsp
SMR &nbsp &nbsp
LVA &nbsp &nbsp
PRI &nbsp &nbsp
SRB &nbsp &nbsp
CHL &nbsp &nbsp
AUT &nbsp &nbsp
BLR &nbsp &nbsp
LTU &nbsp &nbsp
TUR &nbsp &nbsp
ZAF &nbsp &nbsp
AGO &nbsp &nbsp
ISR &nbsp &nbsp
CYM &nbsp &nbsp
ZMB &nbsp &nbsp 
CPV &nbsp &nbsp
ZWE &nbsp &nbsp
DZA &nbsp &nbsp
KOR &nbsp &nbsp
CRI &nbsp &nbsp
HUN &nbsp &nbsp
ARE &nbsp &nbsp
TUN &nbsp &nbsp
JAM &nbsp &nbsp
HRV &nbsp &nbsp
HKG &nbsp &nbsp
IRN &nbsp &nbsp
GEO &nbsp &nbsp
AND &nbsp &nbsp
GIB &nbsp &nbsp
URY &nbsp &nbsp
JEY &nbsp &nbsp
CAF &nbsp &nbsp
CYP &nbsp &nbsp
COL &nbsp &nbsp
GGY &nbsp &nbsp
KWT &nbsp &nbsp
NGA &nbsp &nbsp
MDV &nbsp &nbsp
VEN &nbsp &nbsp
SVK &nbsp &nbsp
FJI &nbsp &nbsp
KAZ &nbsp &nbsp
PAK &nbsp &nbsp
IDN &nbsp &nbsp
LBN &nbsp &nbsp
PHL &nbsp &nbsp
SEN &nbsp &nbsp
SYC &nbsp &nbsp
AZE &nbsp &nbsp
BHR &nbsp &nbsp
NZL &nbsp &nbsp
THA &nbsp &nbsp
DOM &nbsp &nbsp
MKD &nbsp &nbsp
MYS &nbsp &nbsp
ARM &nbsp &nbsp
JPN &nbsp &nbsp
LKA &nbsp &nbsp
CUB &nbsp &nbsp
CMR &nbsp &nbsp
BIH &nbsp &nbsp
MUS &nbsp &nbsp
COM &nbsp &nbsp
SUR &nbsp &nbsp
UGA &nbsp &nbsp
BGR &nbsp &nbsp
CIV &nbsp &nbsp
JOR &nbsp &nbsp
SYR &nbsp &nbsp
SGP &nbsp &nbsp
BDI &nbsp &nbsp
SAU &nbsp &nbsp
VNM &nbsp &nbsp
PLW &nbsp &nbsp
QAT &nbsp &nbsp
EGY &nbsp &nbsp
PER &nbsp &nbsp
MLT &nbsp &nbsp
MWI &nbsp &nbsp
ECU &nbsp &nbsp
MDG &nbsp &nbsp
ISL &nbsp &nbsp
UZB &nbsp &nbsp
NPL &nbsp &nbsp
BHS &nbsp &nbsp
MAC &nbsp &nbsp
TGO &nbsp &nbsp
TWN &nbsp &nbsp
DJI &nbsp &nbsp
STP &nbsp &nbsp
KNA &nbsp &nbsp
ETH &nbsp &nbsp
IRQ &nbsp &nbsp
HND &nbsp &nbsp
RWA &nbsp &nbsp
KHM &nbsp &nbsp
MCO &nbsp &nbsp
BGD &nbsp &nbsp
IMN &nbsp &nbsp
TJK &nbsp &nbsp
NIC &nbsp &nbsp
BEN &nbsp &nbsp
VGB &nbsp &nbsp
TZA &nbsp &nbsp
GAB &nbsp &nbsp
GHA &nbsp &nbsp
TMP &nbsp &nbsp
GLP &nbsp &nbsp
KEN &nbsp &nbsp
LIE &nbsp &nbsp
GNB &nbsp &nbsp
MNE &nbsp &nbsp
UMI &nbsp &nbsp
MYT &nbsp &nbsp
FRO &nbsp &nbsp
MMR &nbsp &nbsp
PAN &nbsp &nbsp
BFA &nbsp &nbsp
LBY &nbsp &nbsp
MLI &nbsp &nbsp
NAM &nbsp &nbsp
BOL &nbsp &nbsp
PRY &nbsp &nbsp
BRB &nbsp &nbsp
ABW &nbsp &nbsp
AIA &nbsp &nbsp
SLV &nbsp &nbsp
DMA &nbsp &nbsp
PYF &nbsp &nbsp
GUY &nbsp &nbsp
LCA &nbsp &nbsp
ATA &nbsp &nbsp
GTM &nbsp &nbsp
ASM &nbsp &nbsp
MRT &nbsp &nbsp
NCL &nbsp &nbsp
KIR &nbsp &nbsp
SDN &nbsp &nbsp
ATF &nbsp &nbsp
SLE &nbsp &nbsp
LAO
<br>
<hr>
<b>NOTE:</b>
If country not in the list. Please enter 'unknown' in small letters.
{% endblock %}